# Python
*.pyc
*.pyo
__pycache__

# Virtual Environment
venv/

# IDE specific files (e.g., VSCode, PyCharm, etc.)
.vscode/
.idea/

# Streamlit's local configuration
/.streamlit/

# OS files (e.g., macOS, Windows)
.DS_Store
Thumbs.db
