moviepy==1.0.3
numpy==1.23.1
pandas==1.5.0
plotly==5.8.0
streamlit==1.16.0
torch==1.12.0
whisper==1.0.0
yt-dlp==2025.1.4
accelerate==0.19.0
pydub==0.25.1
tqdm==4.64.1
transformers==4.24.0
wordcloud==1.8.1
ffmpeg-python==0.2.0